.vscode/
.cache/
build/
target/
support/

sdkconfig.old
sdkconfig.defaults
sdkconfig
debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
.idea/
cmake-build-debug/

main/client.crt
main/client.key
main/fullchain.crt
main/mqtt_app_start.c
